<h1>Indexed Feeds</h1>

<div class="action"><%= link_to 'Index New RSS Feed', indexer_index_path %></div>

<div class="container" id="searchAndResults">
  
  <div class="left" id="search">
    
    <%= form_tag feeds_path, :method=>:get %>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag 'search' %>
    </form>
    
    <div id="facets">
      <% @feeds.facet_fields_by_hash.each_pair do |field,values| %>
        <div>
          <strong><%= field.humanize.gsub(/^Feed|facet$/, '') %></strong>
          <ul>
          <% values.each_pair do |value,hits| %>
            <% next if hits == 0 %>
            <% if facet_in_params? field, value %>
              <li>
              <%= value %> (<%= hits %>)
                <%= link_to 'remove', remove_facet_params(field, value) %>
              </li>
            <% else %>
              <li>
                <%= link_to value, add_facet_params(field, value) %> (<%= hits %>)
              </li>
            <% end %>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    
  </div>
  
  <div class="left" id="results">
    <%= will_paginate(@feeds) %>
    <div id="feeds">
      <% @feeds.docs.each do |doc| %>
        <div class="feedItem">
          
          <h5>
            <%= link_to doc.title_t, doc['url_t'], :target=>:_blank %>
            <% if doc.has?('feed_title_t') %>
              / <%= link_to doc.feed_title_t, doc.feed_url_t, :target=>:_blank %>
            <% end %>
          </h5>
          
          <% if doc.has?('feed_image_url_t') %>
            <%= image_tag doc.feed_image_url_t, :class=>:rightImage %>
          <% end %>
          
          <p class="description"><%= doc['description_t'] %></p>
          
        </div><!-- end .feedItem -->
      <% end %>
    </div><!-- end #feeds -->
  </div><!-- end #results -->
  
</div>