<h2>Documents</h2>

<div class="container" id="searchAndResults">
  
  <div class="left" id="search">
    
    <%= render :partial=>'search_form' %>
    
    <%= render :partial=>'facets' %>
    
  </div>
  
  <div class="left" id="results">
    
    <%= will_paginate(@response.docs) %>
    
    <%= @response.params[:numFound] %> Total Items
    
    <div id="contentItems">
      <%= render :partial=>'search_results' %>
    </div>
    
  </div>
  
</div>