<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	
  	<title>CoNsUmInAtOr -- a Rails Engines + RSolr demo</title>
  	
  	<%= stylesheet_link_tag 'yui', :plugin=>'consuminator' %>
  	<%= stylesheet_link_tag 'app', :plugin=>'consuminator' %>
  	
  </head>
  
  <body>
    <div id="wrap">
      <div id="content">
        <h1 id="appTitle">
        <%= link_to('CoNsUmInAtOr', 'http://github.com/mwmitchell/consuminator', :target=>:_blank) %>
    	   -- a  <%= link_to('Rais Engines', 'http://rails-engines.org', :target=>:_blank) %> + 
    	  <%= link_to('RSolr', 'http://github.com/mwmitchell/rsolr', :target=>:_blank) %> demo
        </h1>
        <% if flash[:notice] %>
          <div id="flash"><%= flash[:notice] %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
  
</html>